/* Header */

header {
    background-color: #6b95cc;
    color:white;
    padding: .8rem 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

header.secure {
    background-color: #0047a3;
}

header .navbar-title {
    font-size: 2rem;
    white-space: nowrap;
}

header nav ul {
    list-style: none;
    padding-left: 0;
}

header nav ul li {
    font-weight: bold;
    display: inline;
    margin: 0 1rem;
    opacity: .8;
    transition: opacity ease .25s;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li:first-child {
    margin-left:0
}

header nav ul li:last-child {
    margin-right:0
}

header nav ul li:hover {
    opacity: 1;
}

@media only screen and (max-width:768px) {
    header nav ul li {
        display: block;
        margin: .5rem 0;
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #054497;
        color:white;
    }
    
    header.secure {
        background-color: #032d64;
    }
}