{% extends "base.html" %}

{% block title %} {{product.nom}} - {{product.reference}} {% endblock %}

{% block content %} 
{% if msg != '' %}
    <div class="msg">{{msg}}</div>
{% endif %}
<div class="catalogue-global-div">
    <div class="catalogue-image"></div>
    <div class="catalogue-content">
        <h2>{{product.nom}}</h2>
        <p>{{product.categorie}}</p>
        <p>Référence : {{product.reference}}</p>
        <p class="produit-descriptif">{{product.descriptif}}</p>
        <p>Compatible avec : {% for modele in modeles_compatibles %}{{modele.constructeur}} {{modele.nom}} ({{modele.annee}}), {% endfor %}</p>
        <hr>
        <p class="prix-ttc">{{product.prix_ttc}} €</p>
        <p class="stock">En stock actuellement : {{product.stock}}</p>
        {% if product.stock > 0 %}
        <hr>
        <form action="/catalogue/{{product.id}}/ajouter" method="POST">
            {% csrf_token %}
            <input type="hidden" name="produit_id" value="{{product.id}}">
            <div>
                <label for="qte" style="margin-right: .5rem;">Quantité</label>
                <input type="number" id="qte" name="qte" value="1" min="1" max="{{product.stock}}">
            </div>
            <button type="submit" class="add-panier-btn" href="#">Ajouter au panier</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}